[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "three20"]
	path = three20
	url = git://github.com/facebook/three20.git
[submodule "TouchJSON"]
	path = TouchJSON
	url = git://github.com/TouchCode/TouchJSON.git
[submodule "EGOTableViewPullRefresh"]
	path = EGOTableViewPullRefresh
	url = git://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = git://github.com/rs/SDWebImage.git
