[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
